<app-navbar></app-navbar>

  <section>
    <div class="about-us-wrapper">
      <div class="about-img">
        <img src="../../../assets/assets/Coffee Cafe Aesthetic Instagram Post.png" alt="About Us Image">
      </div>
      <div class="about-info">
        <h2>Welcome to {{title}}</h2>
        <p>
          At {{title}}, we are more than just a business; we are a community of passionate individuals
          dedicated to serving you. Our journey began with the belief that when we show up at our best, we deliver performance through the lens of humanity. ,
          and this belief continues to drive us forward.
        </p>
        <p>
          {{title}} strives for excellence in every aspect, from delivering high-quality products/services to
          fostering a positive and collaborative work environment. We take pride in our freshly made drinks, and the dedication from the team.
        </p>
        <p>
          Our team is composed of dedicated and warm workers , all united by a common goal: With every cup, with every conversation, with every community - we nurture the limitless possibilities of human connection.. We believe in [core values], and these values guide us in serving our customers
          and making a positive impact on the world.
        </p>
        <p>
          Explore {{title}} and join us in achieving a shared vision and serving the community. Thank you
          for being a part of our journey.
        </p>
      </div>
    </div>
    <div class="products-display">
      <h1>ALL PRODUCTS</h1>
      <!-- Products will display here -->
    </div>
    <app-product-list-page></app-product-list-page>

  </section>

<app-footer></app-footer>
