.products-wrapper{
    width: 85vw;
}
.top-div{
    display: flex;
    justify-content: space-between;
}
.title h2{
  color: black;  
}
.add-product-btn{
    background-color: transparent;
}

.add-product-btn button{
    color: white;
    background-color:  #006241; 
    /* background-color: black; */
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
gap: 20px;
}
.add-product-btn button:hover{
    cursor: pointer;
background-color: #057952;
}
.add-product-btn button i{
font-size: 24px;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    float: left;
  }
  
  .pagination span {
    padding: 10px;
    margin: 0 5px;
    font-weight: bold;
  }
  
  .pagination button:hover,
  .pagination button:disabled {
    background-color: #ddd;
  }
  .pagination button.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination button:hover:not(.active) {background-color: #ddd;}