.products {
    font-family: 'Arial', sans-serif;
    background-color:
      #e7e7e3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
  }
  
  .form-section {
    flex: 1;
    margin-right: 20px;
  }
  
  .form-section label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  .form-section input,
  .form-section select {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-section textarea {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  .price {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-and-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .image-upload-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-upload-section label {
    margin-bottom: 8px;
    color: #333;
  }
  
  .image-upload-section input {
    display: none;
  }
  
  .image-upload-section #drop-area {
    border: 2px dashed #ddd;
    padding: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30%;
    padding: 20px;
  }
  
  button {
    border: 1px solid #006241;
    color: #333;
    width: 80px;
    height: 40px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  
  button:hover {
    background-color: #006241;
    color: white;
  }
  
  
  
  /* Responsiveness */
  @media(max-width:780px){
    form{
      flex-direction: column;
      width: 90%;
    }
    .form-section{
      display: flex;
      flex-direction: column;
      padding: 20px;
      align-items: center;
      justify-content: center;
    }
    .price{
      flex-direction: column;
      width: 100%;
      text-align: center;
    }
    .price-div{
  width: 100%;
    }
    .image-upload-section {
      width: 100%;
    }
    #drop-area{
      width: 60%;
      padding: 10px;
    }
    button{
      width: 100%;
    }
  
  }