<div class="products-wrapper">
  <!-- top part starts here -->
  <div class="top-div">
    <div class="title">
      <h2>All Products</h2>
    </div>
    <div class="add-product-btn">
      <button (click)="navigateToAddProd()" ><i class="fa-solid fa-square-plus"></i>ADD NEW PRODUCT</button>
    </div>
  </div>
  <!-- All products section starts here-->
  <div class="added-products">

    <div class="pagination">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
        <span>{{ currentPage }} / {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
      </div>
  </div>
</div>
