<app-navbar></app-navbar>

<div class="login-wrapper">
  <div class="login">
    <div class="login-box">
      <h2>Sign up</h2>
      <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="form-container">
       <!-- Display error message when msgVisible is true -->
    <div *ngIf="msgVisible" class="error-message">
      {{ errorMsg }}
    </div>
    
    <!-- Display success message when msgVisible2 is true -->
    <div *ngIf="msgVisible2" class="success-message">
      {{ successMsg }}
    </div>
        <div class="user-box">
          <input type="email" formControlName="email" />
          <label>Email*</label>
        </div>
        <div class="user-box">
          <input type="password" formControlName="password" />
          <label>Password*</label>
        </div>
        <a href="#">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <button type="submit">Login</button>
        </a>
        <ul class="links">
          <li routerLink="/reset">Forgot Password?</li>
          <li routerLink="/register">Sign Up?</li>
        </ul>
      </form>
    </div>
  </div>
</div>