<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }

      .container {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }

      .header {
        background-color: #007bff;
        color: #fff;
        text-align: center;
        padding: 10px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }

      .content {
        padding: 20px;
      }

      .content img {
        max-width: 100%;
        height: auto;
      }

      .footer {
        text-align: center;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h2>Welcome to Shopie Cafe, <%=firstName%></h2>
      </div>
      <div class="content">
        <p>Hi, <%=firstName%>,</p>
        <p>
          <img
            src="https://www.istockphoto.com/photo/woman-hand-opening-the-door-of-a-white-car-casting-a-shadow-over-it-at-sunrise-time-gm1420317937-466367895"
            alt="Shopie Cafe"
          />
        </p>
        <p>
          Thank you for signing up.<br />
          Welcome to Shopie Cafe. The land of coffee.<br />
          <br />
          Thank you.
        </p>
      </div>
      <div class="footer">&copy; 2024 Shopie Cafe. All rights reserved.</div>
    </div>
  </body>
</html>
