.admin-wrapper {
    display: flex;
    height: 100vh;
    background-color: #e7e7e3;
}

.adminPage {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #fff;
    color: #7f7f7f;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    border-right: 1px solid #f6f4f4;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.sidebar li {
    margin-bottom: 15px;
    cursor: pointer;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    gap: 10px;
}

.sidebar li:hover {
    background-color: #006241;
    cursor: pointer;
    transition: ease-in-out;
    color: white;
}
.sidebar li:active{
    background-color: #006241;
}
.container {
    flex: 1;
    /* padding:0px 20px; */
    box-sizing: border-box;
}

.nav {
    background-color: #fff;
    color: #7f7f7f;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10%;
}

.account {
    border: #7f7f7f 1px solid;
    width: 10%;
    border-radius: 6px;
}

.account:hover {
    color: #006241;
}

.content {
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

.search-div {
    /* display: none; */
    position: fixed;
    top: 60px;
    right: 80px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 6px;
}

.search-div input {
    width: 300px;
    padding: 8px;
    margin-right: 8px;
}

.search-icon {
    cursor: pointer;
}

i.fas {
    font-family: 'Font Awesome 6 Free';
}

.nav-toggle-bar {
    display: none;
}

/* Modal wrapper styles */
.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Sidebar modal styles */
.sidebar-modal {
    background-color: #fff;
    color: #7f7f7f;
    width: 80%; 
    height: 40%;
    padding: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-right: 1px solid #f6f4f4;
    border-radius: 10px;
    display: none;
    transition: opacity 0.5s ease-in-out;
}

.sidebar-modal ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    transition: opacity 0.5s ease-in-out;
}
.sidebar-modal.hidden {
    opacity: 0;
}
.sidebar-modal li {
    margin-bottom: 15px;
    cursor: pointer;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    gap: 10px;
}

.sidebar-modal li:hover {
    background-color: #006241;
    cursor: pointer;
    transition: ease-in-out;
    color: white;
}
.sidebar-modal li:active{
    background-color: #006241;
}

/* Responsiveness */
@media (max-width: 768px) {
    .nav-toggle-bar {
        display: flex;
    }
    .sidebar {
        display: none; 
    }
    .sidebar-modal {
        display: flex;
    }
    .nav{
        justify-content: space-between;
    }
    .search-div {
        top: 70px;
        right: 50px;
    }
}

