<div class="dashboard-wrapper">
    <div class="title">
      <h2>Dashboard</h2>
    </div>
    <!-- <div class="calender">
      <label for="calendarInput">Select a date:</label>
      <input type="date" id="calendarInput" name="calendarInput">
    </div> -->
  
    <div class="container">
      <div class="row">
        <div class="col-12">
          <table class="dashboard-table">
            <thead>
              <tr class="orderTitle">
                <th colspan="5"><h3>Recent Orders</h3></th>
              </tr>
              <tr>
                  <th><i class="fa-regular fa-square"></i></th>
                <th>Product</th>
                <th>Order ID</th>
                <th>Date</th>
                <th>Customer Name</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td><i class="fa-regular fa-square"></i></td>
                <td>Hot chocolate</td>
                <td>1433562</td>
                <td>12/03/2024</td>
                <td>Jane Doe</td>
                <td>Ksh.400</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  