<div class="user-wrapper">
    <div class="userPage">
        <div class="sidebar">
            <ul>
                <li routerLink="page">Dashboard</li>
                <li routerLink="products">All products</li>
                <li routerLink="cart">Cart</li>
            </ul>
        </div>

        <div class="container">
            <div class="nav">
                <div class="search-icon" (click)="toggleSearchDiv()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="cart-icon">
                    <i class="fa-solid fa-cart-shopping"></i>
                </div>
                <div class="search-div" *ngIf="isSearchDivVisible">
                    <input type="text" placeholder="Search" >
                    <i (click)="performSearch()" class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="account">
                    <h3>Buyer</h3>
                </div>
            </div>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
       <div class="search-results">
        <!-- <div *ngFor="let product of filteredProducts">
        <div>{{product.name}}</div>
        <div>{{product.description}}</div>
        <div>{{product.price}}</div>
        </div> -->
       </div>
        </div>
    </div>

</div>
<!-- <router-outlet></router-outlet> -->