.user-wrapper {
    display: flex;
    height: 100vh;
    background-color: #e7e7e3;
}

.userPage {
    display: flex;
    width: 100%;
}

.sidebar {
    background-color: #fff;
    color: #7f7f7f;
    width: 200px;
    padding: 20px;
    box-sizing: border-box;
    border-right:1px solid #f6f4f4;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.sidebar li {
    margin-bottom: 15px;
    cursor: pointer;
    padding: 20px;
    width: 60%;
    border-radius: 10px;
    text-align: center;
}

.sidebar li:hover {
    background-color: #006241;
    cursor: pointer;
    transition: ease-in-out;
    color: white;
}

.container {
    flex: 1;
    /* padding:0px 20px; */
    box-sizing: border-box;
}

.nav {
    background-color: #fff;
    color: #7f7f7f;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    display: flex;
    justify-content:end;
    align-items: center;
    gap: 10%;
}
.account{
    border: #7f7f7f 1px solid;
    width: 10%;
    border-radius: 6px;
}
.content {
    border: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

.search-div {
    /* display: none; */
    position: fixed;
    top: 60px;
    right:110px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.search-div input {
    width: 200px;
    padding: 8px;
    margin-right: 8px;
}

.search-icon {
    cursor: pointer;
}
i.fas {
    font-family: 'Font Awesome 6 Free';
}
/* Responsiveness */
@media (max-width: 768px) {
    .adminPage {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        text-align: center;
    }
}